/.vscode
/Arduino IDE.lnk
/Blockchain and Machine Learning-Empowered Healthcare Insurance Fraud Detection.pptx
/Blockchain and Machine Learning-Empowered Healthcare Insurance Fraud Detection__.pptx
/Blockchain and Machine Learning-Empowered Healthcare Insurance Fraud Detection__2.pptx
/desktop.ini
/Eclipse IDE for Enterprise Java and Web Developers - 2023-03.lnk
/Eclipse IDE for Java Developers - 2023-03.lnk
/fs-act-1
/Grammarly.lnk
/IOT Streamlit
/KMPlayer.lnk
/node_modules
/Personal - Edge.lnk
/Postman.lnk
/Telegram.lnk
/User_Details
/Videos - Shortcut.lnk
/Visual Studio Code.lnk
/Wearable Devices.pptx
/WPS Office.lnk
/Zoom.lnk